
*{
    box-sizing:border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    margin:0;
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#2f2c83;
}


.login-card{
    width:420px;
    background:#ffffff;
    border-radius:26px;
    padding:48px 38px;
    box-shadow:0 18px 40px rgba(0,0,0,0.2);
    text-align:center;
}

.logo{
    width:56px;
    height:56px;
    background:#4f46e5;
    border-radius:16px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto 18px auto;
}

/* Form Styles */
.form-group{
    text-align:left;
    margin-bottom:18px;
}

label{
    display:block;
    margin-bottom:6px;
    font-weight:600;
    color:#1f2933;
}

input{
    width:100%;
    padding:14px 16px;
    border-radius:14px;
    border:1px solid #e5e7eb;
    outline:none;
    font-size:15px;
    background:#f9fafb;
}

button{
    width:100%;
    padding:16px;
    border:none;
    border-radius:16px;
    background:#4f46e5;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    margin-top:10px;
    box-shadow:0 10px 20px rgba(79,70,229,0.3);
}

